/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
    
/*-----------------Basics---------------*/
body { 
    font: 100%/1.5 serif; /* 16px */ 
    color: red; 
    }
    
h1 {
    font-size: 2.5em; /* 64px */ 
    }

p {
    margin: 0 0 1.5em 0;
}

em {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #3dbff4;
}

sup {
    position: relative;
    top: 1.5em;
    font-size: 50%;
    vertical-align: top;

}

/* ------------------------------------------------------------------------- General - All Devices */
body {
    color: #14171b;    
    background: #fbfbfb;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family: Gill Sans, sans-serif;
}



#overlay { /*covers content when a modal pops up */
    display: none;
    background: rgba(113,209,248,0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
}

#modal {
    display: block;
    background: #fff;
    width: 40%;
    left: 50%;
    margin: 5% -25%;
    padding: 5%;
    position: absolute;
    z-index: 100000;   
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(10,26,39,0.5);
}

#modal .close {
    position: relative;
    display: block;
    float: right;
    line-height: 1.5;
    font-family: Helvetica;
    font-size: 2em;
    margin-right: 0;
    color: rgba(113,209,248,1);
    z-index: 10000000;
}

#modal .close:hover {
    color: rgba(113,209,248,0.6);
}
#container {
}

nav {
    width: 100%;
    float: left;
    background-color: rgba(10,26,39,1);
    box-shadow: 0 0 3px #14171b;
    z-index: 1000;   
    font-size:.8em;    
}

nav a {
    color: #fbfdff;
    display: block;
    padding:.2em 1em;
}


nav a:before{
    content:">\a0 ";
}

nav a:hover {
    text-decoration: none;
}

nav .logo {
   font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
   font-weight: bold;
   padding-left: .5em;
   font-size: 2em;
   border-left: none;
}

nav .inner {
    width: 100%;
}
.logo:before{
    content: "";
}

nav .logo:hover {
    background: transparent;
    border-left: none;
    border-right: solid 1px rgba(20,23,27,1);

}


section {
    display: block;
    width: 100%;
    margin: 0 auto;
    width: 100%;
    float: left;
}

.inner {
    width: 80%;
    margin: 0 auto;
}

.a-slide {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 10;
}

.b-slide {
    background: #9fe3ff;
    box-shadow: 0 0px 0px #14171b;
    position: relative;
    z-index: 100;
    text-shadow: 0px 1px 0 #d9f3fd;
    font-size: 1.2em;
}

.c-slide {
    padding: 3em 0;
    background-image:url(../img/dot-pattern.jpg);
    text-shadow: 0 0.1em 0 #fbfdff;
    border-top: solid 2px #fbfdff;    
    box-shadow: 0 0px 3px #14171b;
    position: relative;
    z-index: 100;
}

.overlay {
    background-image:url(../img/dot-pattern-alpha.png);
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: .5%;
	-moz-background-size: .5%;
	-o-background-size: .5%;
	background-size: .5%;
	z-index: 10;
	height: 100%;
	float: left;
	width: 100%;
}

.a-slide .inner {
    background-color: rgba(10,26,39,0.9);
    color: #fbfdff;
    padding: 0.4em 1em;
    border-radius: 5px;
    margin: 4em auto;
}

.a-slide h1 {
    font-family: Gill Sans, sans-serif;
    font-size: 2em;
    text-align: center;
}

.a-slide h1 em {
    font-weight: normal;
    text-transform: uppercase;
    color: #3dbff4 !important;
}

.b-slide .inner {
    font-family: Gill Sans, sans-serif;
    padding: 2em 0;
}

.b-slide p {
    font-size: 1.5em;
}


.c-slide .inner {
    line-height: 1.5em;
    font-family: Helvetica, serif;
    padding: 3em 0;
    font-size: 85%;
}

.c-slide .row {
    margin:1.5em 0 3em 0;
}    


.c-slide h1,
.c-slide h2,
.c-slide h3,
.c-slide h4{
    font-family: Gill Sans, sans-serif;
    line-height: 1.2;
    margin: 0 0 1em 0;
}

.c-slide h1 {
    font-size: 3em;    
}

.c-slide h2 {
    font-size: 2.8em;    

}

.c-slide h2 a {
    color: rgba(10,26,39,1);
}


.c-slide h3 {
    font-size: 2em;
}

.c-slide h4 {
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: solid 1px rgba(10,26,39,0.9);
    margin-top: 2em;
}



.c-slide p {
    line-height: 1.5;
}

.c-slide h2 span,
.c-slide h3 span {
    color: rgba(10,26,39,0.5);
    font-size: 65%;
    text-transform: uppercase;
}

 

.c-slide a {
    color: #1ca6df;
}
.c-slide a:hover {
    color: rgba(10,26,39,0.9);
}

.c-slide a:hover img {
    box-shadow: 0 0 2px rgba(10,26,39,0.9) inset;
}

.c-slide li {
    list-style: square inside;
    margin: .5em 0;   
}
    
.c-slide figure {
    float: left;
    display: block;
 }

.c-slide figure img,
.c-slide figure iframe {
    padding: 5px;
    box-shadow: 0 0 2px rgba(10,26,39,0.4) inset;
    background: #fff;
    border-radius: 5px;    
}

.c-slide  .small-logo-alpha{
    margin: 0 0 2em 0;
    background: transparent;
    box-shadow: none;
    padding:.3em;
    }

.c-slide  a:hover .small-logo-alpha{
    background: rgba(255,255,255,0.5);
    box-shadow:none !important;
    }

.c-slide small {
    font-size: .9em;
    font-family: Gill Sans, sans-serif;    
}

.c-slide figure small a {
    display: block;
    font-size: 1em;
    padding: 0 0 0 2em;
}

.c-slide figure small a:hover {
    color: rgba(10,26,39,0.5);
    opacity: 0.6;
}

.c-slide figure h5,
.c-slide figure h6 {
    font-size: .75em;
    line-height: 1.2;
    font-family: Gill Sans, sans-serif;
    font-weight: bold;
    text-align: center;
}

.c-slide figure h6 small {
    text-transform: uppercase;
    font-weight: normal;
    font-size: .6em;
}

.c-slide .entry {

}

.c-slide .entry .links li{
    margin: 1em 0;
}

.c-slide .entry .details {
    font-size: 75%;
    text-transform: uppercase;
    font-family: Gill Sans, sans-serif;
}

.c-slide .entry .details h2 {
    font-size: 2.3em;
}


.c-slide .jumbo{
    margin: 0 !important;
}

.c-slide .jumbo .video {

}
.c-slide .links {
    margin: 2em 0;
    font-size: 1.2em;
}

.c-slide .links li{
    text-align: right;
    list-style-type: none;
    margin: 0 0;
}
.c-slide .bio{
    font-size: 90%;

}

.c-slide .bio figure {
    display: block;
    float: left;
    width: 25%;
    margin: 0 2em 0 0;
}
.c-slide a.follow-me {
    background: url(../img/mini-twitter.png) no-repeat center left;
}

.c-slide a.linkedin{
    background: url(../img/mini-linkedin.png) no-repeat center left;
}

.c-slide blockquote {
    display: block;
    float: left;
    padding: 0;
    background:url(../img/blockquote1.png) no-repeat top right;
    font-size: .9em;
    font-style: italic;
}

/*-------- Video Player ---------*/
.c-slide #active-video-holder{
    width: 100%;
    display: block;
    float: left;
    margin: 0 0 4em 0;
}

#ytplayer {
    margin: 0 0 4em 0 ;
    display: none;
    float: left;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(10,26,39,0.4) inset;    
}

.hidden {
    display: none !important; /*contains url for the embedded player*/
}

.c-slide .btn {
    margin: 2em 0 2em 0;
    background: rgba(255,255,255,0.6);
    font-size: 1.2em;
    padding: 0 .5em;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(10,26,39,0.4) inset;

}

.c-slide .btn:hover {
    box-shadow: 0 0 2px rgba(10,26,39,0.4);
    background: rgba(255,255,255,0.9);
}
.big-link {
    display: block;
    width: 100%;
    float: right;
    text-align: right;
    font-size: 2.5em;
    margin: 1em 0;
    line-height: 1.2;
    font-family: Gill Sans, sans-serif;        
}

.mid-link {
    font-family: Gill Sans, sans-serif;    
    font-size: 1.5em;    
}

span.right{
float: right;
}

/*---------------------Gallery-------*/
.gallery {
    float: left;
    width: 100%;
    margin: 3em 0;
}

.gallery figure.thumb {
    position: relative;

}


.gallery figure.thumb img {
    width: 100%;
    box-shadow: none !important;
    margin: 0;    
}

.gallery figure.thumb4 { /*used for galleries with 4 thumbnails in a row*/
    width: 25%;
}    

.blurred {
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
}


.gallery figure.active {
    left: 50%;
    position: absolute;
    margin-left: -25%;
    margin-top: -5%;
    box-shadow:0 0 5px rgba(10,26,39,0.1);
}


/*---------------------Grid general--*/
.grid {
    display: block;
    float: left;
}

.span2 {
    width: 80%;
    margin: 0 0% 0 0;
}

.span3 {
    width: 100%;
    margin: 0 0% 0 0;
}


.span4 {
    width: 47.5%;
    margin: 0 5% 0 0;
}   

.span6 {
    width: 12.5%;
    margin: 0 5% 0 0;    
}

.grid img {
    width: 100%;

}

.row {
    width: 100%;
    margin-bottom: 3em;
    clear: both;
    float: left;
}
.row .grid:last-child {
    margin-right: 0 !important;
}    


.row figure img {
    width: 100%;
}

.row figure figcaption{
    font-size: .8em;
    text-align: center;
    margin-top: 0px;
    font-family: Gill Sans, sans-serif;    
}

.span2 figure {
    width: 100%;
}    

figure.span2 {
    width: 47.5%;
}

.span3 figure {
    width: 100%;
}

figure.span4 {
    width: 21.25%;
}

.span4 figure {
    width: 100%;
    margin: 0 0 1.5em 0;
}
.span4 figcaption {
    display: none;
}

/*-----Photo Backgrounds ----*/

#welcome{
    background-image:url(../img/bg-house.jpg);
}

#who-we-work-with-title{
    background-image:url(../img/bg-girts-and-martins.jpg);    
}

#how-we-work-title{
    background-image:url(../img/bg-fadi-and-sara.jpg);    
}

#why-are-we-doing-this-title{
    background-image:url(../img/bg-marshmallows.jpg);    
}

#social {
    background-image:url(../img/bg-scoble-iphones.jpg);
}

#last {
    background-image:url(../img/bg-casual-house.jpg);
}

#connect {
    background-image:url(../img/bg-programs.jpg);
}

#accelerate {
    background-image:url(../img/bg-ann-winblad.jpg);
}
#investorsretreat {
    background-image:url(../img/bg-julia-dutch.jpg);
}

#mansion {
    background-image:url(../img/bg-pool.jpg);
}

#portfolio {
    background-image:url(../img/bg-artem.jpg);
}

#about {
    background-image: url(../img/bg-postits.jpg);
}
/*------Specific slide---------*/

#media {
    background-image: url(../img/bg-scoble.jpg);
}


#last {
    box-shadow: 0 0px 1px #14171b;
}

/* --------------------------------------------------------------------------- Media min-width: 600px */

@media (min-width: 600px) {


/*Grid min 600*/

.span2 {
    width: 47.5%;
    margin: 0 5% 0 0;
}

.span3 {
    width: 30%;
    margin: 0 5% 0 0;
}

.span3x2 {
    width: 65%;
    margin: 0 5% 0 0;    
}

.span4 {
    width: 21.25%;
    margin: 0 5% 0 0;
}

.span4x3 {
    width: 73.75%;
    
}

.span4 figcaption {
    display: block;
}
/*-------------------------------------------Nav*/
nav {
    position: fixed;
    font-size: 1em;
}

nav .inner {
    width: 65%;
}    

nav a {
    display: block;
    float: left;
    padding: .8em 2% .5em 2%;
    margin: 0 0 0 0;
    border-left: solid 1px rgba(10,26,39,1);
    border-right: solid 1px rgba(10,26,39,1);
    border-top: none;
    border-bottom: none;
}

nav a.active {
    color: #3dbff4;
}
nav a:before{
    content: "";
}

nav a:hover {
    background-color: rgba(10,26,39,1); 
    border-left: solid 1px rgba(220,223,225,0.3);
    border-right: solid 1px rgba(220,223,225,0.3);        
    border-top: none;
    border-bottom: none;    
}

nav .logo {
    font-size: 1.2em;
    padding: 0.5em 0 .5em .5em;
}

nav .social {
    float: right;
    padding: .8em 1em .5em 1em;
}

/*---------------------------------Sections*/

.a-slide {
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 10;
}

.b-slide {
    background: #9fe3ff ;
    box-shadow: 0 0px 10px #14171b;
    position: relative;
    z-index: 100;
}

.c-slide {
    padding: 3em 0;
    background-image:url(../img/dot-pattern.jpg);
    text-shadow: 0 0.1em 0 #fbfdff;
    border-top: solid 2px #fbfdff;    
    box-shadow: 0 0px 3px #14171b;
    position: relative;
    z-index: 100;
}

.overlay {
    background-image:url(../img/dot-pattern-alpha.png);
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: .25%;
	-moz-background-size: .25%;
	-o-background-size: .25%;
	background-size: .25%;
	z-index: 10;
	height: 100%;
	float: left;
	width: 100%;
}

.inner {
    width: 65%;
    margin: 0 auto;
}

.a-slide h1 {
    font-size: 3.5em;
}

.b-slide p {
    font-size: 2em;
}

.c-slide aside {
    font-size: 1.5em;

}


strong.logo {
   font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
   font-weight: bold;
   background-color: transparent !important;
   padding: 0 0 !important;
   font-size: 1.2em;
}

footer {
    float: left;
    width: 100%;
    background-color: rgba(10,26,39,1);
    color:#fbfdff;
    text-shadow: 1px 1px 1px #000;
    padding: 0em 0;
}

footer .inner {
    padding: 0 !important;
    margin-top: 2em !important;
}

footer .row {
    width: 100%;
    margin: 0 auto;
}

footer h4 {
    font-weight: bold;
}

footer p {
    margin: 3em 0 0 0;
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 80%;
    padding: 1em 0 0 0;
    border-top: solid 1px rgba(10,26,39,0.95);
}

footer li {
    font-size: .9em;
    list-style: square inside;
    margin: .5em 0;    
}

footer a:hover {
    text-decoration: underline;
}


/*--------------------Slide specific----------------*/
/*----------Welcome Slide*-----------*/

.floater	 {
    display: block;
    float:left; 
    height:100%; 
    margin-bottom:-250px;
}

    
#welcome {


}

#welcome .inner{
    background: transparent url(../img/logo-hex.png) no-repeat top center;
    width: 300px;/*500px*/
    height: 300px;/*500px*/
    text-align: center;
    padding: 100px 50px 0 50px;
    margin: 4em auto;

}

#welcome .inner a:hover {
    opacity: 0.8;
}
#welcome h1 {
    font-family: Gill Sans, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}

#welcome .logo {
   font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
   font-weight: bold;
   background-color: transparent !important;
   font-size: 280%;
   text-transform: lowercase;
}


#welcome .sub {
    background: #fff;
    box-shadow: 0 0 5px rgba(10,26,39,0.3);
    float: left;
    width: 100%;
    padding: 0 0;
    z-index: 1000000;
    position: relative;
    bottom: 0%;

}

#welcome .sub .row {
    width: 100%;
    margin-bottom: 0 !important;
}

#welcome .sub .l {
    width: 47.5%;
    float: left;
    text-align: right;
    font-size: 80%;
    padding: 3em 0 ;   
}

#welcome .sub .r {
   width: 50%;
   padding: 3em 0;
   float: left;
   margin-left: 2.5%;
   background: #3dbff4;
}

#welcome .sub h2 {
    font-size: 180%;
    text-transform: uppercase;
}

#welcome .sub h3 {
    font-size: 150%;
}

#welcome .sub h2,
#welcome .sub h3{
    margin: 0 0 .5em 5%;
    line-height: 1;
}

#welcome .sub a {
    color: #fff;
}

#welcome .sub h3 a:hover {

}

#welcome .sub  a:hover {
    color: rgba(10,26,39,0.8) !important;
}

#welcome .sponsors {
    width: 20%;
    margin: 0 1em;
    display: block;
    float: right;
    opacity: 0.7;
}

#welcome .sponsors:hover {
    opacity: 1;
}

#who-we-work-with-title .inner,
#how-we-work-title .inner, 
#why-are-we-doing-this-title .inner,
#last .inner{
    margin: 12em auto;
}

.first .inner {
    margin: 10em auto 6em;
} 



/*---------Why are we doing this*/

#we-dont-promise{
    box-shadow: 0 0px 2px #14171b;
}
/*---------Calls to action*/
#calls-to-action {
    background-color: #3dbff4;
    background-image: url(../img/dot-pattern-alpha.png);
    background-repeat: repeat;
    -webkit-background-size: .25%;
	-moz-background-size: .25%;
	-o-background-size: .25%;
	background-size: .25%;      
}

#calls-to-action .inner {
    background: none;
    margin: 0em auto;
    padding: 0;
  
}


#calls-to-action a {
    display: block;
    background: #3dbff4;
    width: 33%;
    height: 10em;
    float: left;
    padding: 2em 0;
    color: rgba(10,26,39,1);
}


#calls-to-action a h2,
#calls-to-action a h3 {
    display: block;
    margin: 0em 10% 2em 10%;
    float: left;
}

#calls-to-action a h2 {
    text-transform: uppercase;
    font-size: 150%;
}

#calls-to-action a h3 {
    font-size: 120%;
}
#calls-to-action a.box-mid {
    background-color: #fff;
}

#calls-to-action a:hover {
    background: #fff;
    color: #3dbff4;
}


/*---------Social*/

#social .inner {
    margin: 10em auto;
    background: transparent;
}

#social a.social {
    padding: 0.2em 0 0.2em 4em;
    display: block;
    border: solid 1px rgba(255,255,255,0);
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 0 5px rgba(10,26,39,.6);
    color: rgba(10,26,39,1);
    font-size: 3em;
    margin: 0 0 .5em 0;
    border-radius: 5px;
    
}

#social a.social:hover {
    background-color: rgba(255,255,255,0.9);
    color: rgba(20,23,27,1);
}

.twitter {
    background: transparent url(../img/twitter.png) no-repeat 1em center;
}

.like {
    background: transparent url(../img/like.png) no-repeat 1em center;
}

.mailing {
    background: transparent url(../img/mailing.png) no-repeat 1em center;
}

}


