---
layout: main
title: Videos | Blackbox.vc
ogDescription: "Videos from Blackbox Connect programs."
videos-active: "class='active'"
---
<!--
<section class="a-slide first" id="media">
    <div class="overlay">
        <div class="inner">
            <h1>Blackbox Videos</h1>
        </div>
    </div>
</section>-->

<section class="c-slide">
    <div class="inner">
	<!--<h2 style="margin-bottom:10px;">Blackbox videos</h2>  -->
        <div class="row" id="active-video-holder">
            <figure class="span2 grid">
                <img src="http://i4.ytimg.com/vi/zJ4FeJnfv9o/0.jpg" class="player">
            </figure>

            <div class="span2 grid video-description">
                <h2>Silicon Valley vs Europe, Why Americans Do Startups Better</h2>
                <h3>Fadi Bishara</h3>
                <p><a href="http://hackfwd.com/">HackFwd Build 0.10</a> // Berlin // June 2012</p>
                <a href="#" class="player mid-link">Play &raquo;</a>
            </div>
        </div>
        <iframe id="ytplayer" type="text/html" width="100%" height="480" src="https://www.youtube.com/embed/zJ4FeJnfv9o" frameborder="0" allowfullscreen></iframe>
        
        <div class="row">
        {% for video in site.categories.videos %}
            <figure class="span3 grid video-thumb">
                <a href="#active-video-holder"  class=""><img src="http://i4.ytimg.com/vi/{{video.video_id}}/0.jpg" alt="{{video.title}}" title="{{video.speaker}}"></a>
                <aside class="hidden yt-url">https://www.youtube.com/embed/{{video.video_id}}</aside>
                <aside class="hidden video-content">{{video.content}}</aside>                
                <figcaption>
                    <em>{{video.title}}</em>
					<br />
                    <span style>{{video.speaker}}</span>
                </figcaption>
            </figure>
            {% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
            {% if thecycle == "3" %}
        </div>
        <div class="row">
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>
